/* css styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Sans-Serif;
  text-decoration: none; /* Remove text decoration from any elements */
}

.intro-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("img/background1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

.intro-section h2 {
  font-size: 4.5rem;
  margin-bottom: 1em;
  max-width: 1200px;
  width: 90%;
  text-align: center;        /* Explicitly center h3 text */
}


.content-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("img/background2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 2em;
  text-align: center;
}

.content-section h3 {
  font-size: 2.5rem;
  margin-bottom: 1em;
  max-width: 1000px;
  width: 90%;
  text-align: center;        /* Explicitly center h3 text */
}

.content-section p {
  font-size: 1.8rem;
  max-width: 1000px;
  width: 90%;
  text-align: left;          /* Align text in the paragraph to the left */
}


h1 {
  font-size: 3rem; /* Larger font size for the main title */
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 3.5rem; /* Slightly larger font size for the secondary title */
}

h2::before {
  content: none !important;
  display: none !important;
}

h3 {
  margin: 0;
  font-size: 2rem; /* Slightly larger font size for the secondary title */
}

p {
  margin-top: 1em;
  font-size: 1.2rem;
  max-width: 800px; /* Optional: maintain content width readability */
}

/* Ensure all anchors have no default styling */
a {
  color: inherit; /* Inherit font color from parent */
  text-decoration: none; /* Removes underlining */
  cursor: default; /* Standard cursor unless link exists */
  pointer-events: none; /* Disables any "link" interaction */
}